@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    scrollbar-width: none;

    
}

.project-main-container{
    width: 100vw;
    background-color: #F0F0F0;
    background-image: url(../../../Images/project_bg.jpg);
    background-size: cover;
    background-position: top;
    z-index: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px ;

   
}
.project-container{
    max-width: 1300px;
    height: 100%;
    position: relative;
    top: 0;
    display: grid;
    grid-template-columns: auto auto auto auto ;
   margin: 0;
    margin: auto;
    padding: 40px 0; /* Added padding for top and bottom spacing */
    gap: 50px;
}

.project-sub-container
 {
    min-width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
   

}

.project-sub-container  h1{
    font-size: 52px;
      font-weight: 500;
      line-height: 62px;
      font-family: "Jost", sans-serif;
      font-style: normal;
      color: #fb5b11; 
  }

 .project-sub-container h2{
    font-size: 26px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Jost", sans-serif;
    font-style: normal;
}
@media (max-width: 1367px) {

        .project-container{
        max-width: 1300px;
        height: 100%;
        position: relative;
        top: 0;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 0;
          /* Added padding for top and bottom spacing */
         }

    .project-sub-container
 {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
   

}
.project-sub-container  h1{
    font-size: 40px;
      font-weight: 500;
      line-height: 50px;
      font-family: "Jost", sans-serif;
      font-style: normal;
      color: #fb5b11; 
  }

 .project-sub-container h2{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Jost", sans-serif;
    font-style: normal;
}
}

@media (max-width: 1024px) {
    .project-container{
    max-width: 1300px;
    height: 100%;
    position: relative;
    top: 0;
    display: grid;
    grid-template-columns: auto auto;
    
    margin: auto;
    padding: 40px 0; /* Added padding for top and bottom spacing */
    gap: 50px;
}
}
@media (max-width: 768px) {
    .project-container{
    max-width: 1300px;
    height: 100%;
    position: relative;
    top: 0;
    display: grid;
    grid-template-columns: auto;
    
    margin: auto;
    padding: 40px 0; /* Added padding for top and bottom spacing */
    gap: 20px;
}
}